.flat-headerbar {
  background: @theme_bg_color;
  border-bottom: 0;
  border-top-left-radius: 0;
}

.error-label {
  color: @error_color;
}

.messages-log {
  background: transparent;
}

.message {

}

.message-bubble {
  background-color: @theme_base_color;
  border: 1px solid @borders;
  border-bottom-width: 3px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  padding: 6px;
}
/*.message-bubble-me {
  color: @theme_selected_fg_color;
  background-color: #99c1f1;
  border-color: #3584e4;
}*/

.day-title {
  background-color: @theme_base_color;
  border: 1px solid @borders;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  padding: 6px;
  opacity: 0.6;
}


.sender-name {
  font-weight: bold;
}

.message-input-box {
  background-color: @theme_base_color;
}

.message-input {
  background-color: @theme_base_color;
  border-radius: 3px;
  border: 1px solid @borders;
  padding: 6px;
}

.message-input-focused {
  border: 2px solid @theme_selected_bg_color;
  padding: 5px;
}

/*.soft-undershoot undershoot.top {
  background-image: linear-gradient(to bottom, @theme_bg_color, transparent);
}*/
